@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

*{
    margin:0;
    padding:0;
}

#header, #footer{
    width: 100%;
    height: 100px;
    text-align: center;
    border-bottom: 2px solid silver;
    background-color: #ccc;

}



/*.mainT{
    color: red;
    text-decoration: line-through;
    
}
/* я нахожу такие теки б, которые находятся внутри тега див
div b, div i{ 
    color:green;

}
div i, .name-class, #id, div p{
    color: tomato;
}
.main_link{
    color:red;

}
.main_link:hover
{
    color: blue;
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
    /* cursor: url(''); можно поставить какую-то картинку вместо курсора; 
}

.main_link:active{
    text-decoration: line-through; /*перечеркивает текст, когда мы нажали лкм(удерживаем) 
}
.main_link:visited{
    color: bisque;
}
input{
    color:blue;

}
input:focus{
    color:red;
}
p.text:empty /*выбираем все абзаци, у которых класс текст и они пустые
{

}
p.text:not(:empty)::after{
    content: ' Somi';
    color:purple;
}
#some_id::after{ /*псевдо элемент, добавляет после текста что-то*
    content: '123';

}
p:first-of-type{
    text-decoration: line-through;
}
body{
    width: 100vh;
    height: 100vh;
    /*background-image: url("https://pushinka.top/uploads/posts/2023-08/1692742198_pushinka-top-p-kartinki-vodopadi-krasivie-vkontakte-36.jpg") ;
    background-repeat: no-repeat; повторение картинки по координатам x и y, можно указать
    background-color:#8a7312 ; цвет бэкраунда
    background-position: center;  картинку по центру*
    background: #8a7312 url("https://pushinka.top/uploads/posts/2023-08/1692742198_pushinka-top-p-kartinki-vodopadi-krasivie-vkontakte-36.jpg") no-repeat center  ;
    background-size: cover; /*  на весь экран картинку расспологает*
}
#first {
    height: 500px;
    background-image: url('https://gas-kvas.com/grafic/uploads/posts/2023-10/1696502289_gas-kvas-com-p-kartinki-lyubie-45.jpg') ;
    background-size: cover;
    background-position: center;
    margin:0%;
    padding: 0%;
    background-attachment: fixed;/*короче он фиксирует картинку так, что вся страница пролистывается вверх, картинка остается на месте и окошко в короторм она рассположена, уходит, показывая картинку*
}

.main_text{
    color:#000;
    text-align: justify;/*  расстягивает на весь жкран*
    font-size: 1.2em;
    font-style:normal;/*наклон текста  *
    font-weight: bold;
    font-family: 'Over the Rainbow';
    
    word-spacing: 15px ;
    letter-spacing: 3px;
    text-transform: lowercase ;/* в каком регистре будут наши символы *
}
*/

